:root {
  --border-radius: 0.35rem;
}

main {
  width: 100%;
}

hr {
  margin: 1rem 0;
}

#counter-container {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 130px);
  justify-content: center;
  margin: 1rem auto 0;
}

#counter-container::after {
  content: 'E';
  height: 116px;
  border: 1px dotted red;
}

mv-countdown {
  &[long-datestring] .elapsed-container {
    font-size: var(--text-xl-font-size);
    line-height: var(--text-xl-line-height);
  }
  
  .counter {
    padding: 0.75rem 1.5rem;
    border-radius: var(--border-radius);
    background-color: rgb(var(--card-bg-color));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      
      i {
        cursor: pointer;
        font-size: var(--text-sm-font-size);
        line-height: var(--text-sm-line-height);
      }
    }
    
    .label {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: var(--text-sm-font-size);
      line-height: var(--text-sm-line-height);
      
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.elapsed-container {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: var(--text-2xl-font-size);
  line-height: var(--text-2xl-line-height);
}

.elapsed {
  margin-right: 0.5rem;
}

.post-label {
  font-weight: 300;
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);
  text-align: center;
  margin-top: 0.5rem;
}

mv-countdown-form {
  display: block;
  margin: 0 auto;
  width: 100%;  
  @media (min-width: 48rem) {
    width: max-content;
  }
  
  form {
    .container {
      border-radius: var(--border-radius);
      padding: 0.25rem 0.5rem;
      display: flex;
      flex-direction: column;
      max-width: 60ch;
      gap: 0.75rem;
      font-size: var(--text-xl-font-size);
      line-height: var(--text-xl-line-height);
      
      @media (min-width: 48rem) {
        border: 1px solid;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: var(--text-lg-font-size);
        line-height: var(--text-lg-line-height);
      }
      
      input {
        border: 1px solid;
        border-radius: var(--border-radius);
        font-weight: 600;
        padding: 0.25rem 0.5rem;
        
        &[name=label] {
          flex: 1;
          min-width: 325px;
          padding-right: 0.5rem;
        }
        
        @media (min-width: 48rem) {
          border: none;
          padding: 0;

          &:focus-visible {
            border: none;
            outline: none;
          }
        }
      }
      
      .datetime {
        white-space: nowrap;
        display: flex;
        gap: 1rem;
        
        @media (min-width: 48rem) {
          justify-content: space-between;
          gap: 0;
        }

        input {
          flex: 1;
          
          @media (min-width: 48rem) {
            border: none;
            border-left: 1px dotted rgb(var(--foreground-rgb));
          }
          
          &::-webkit-calendar-picker-indicator {
            filter: var(--foreground-filter);
          }
        }
      }
    }
  

    button[type=submit] {
      color: rgb(var(--link-color-rgb));
      cursor: pointer;
      margin-left: 7px;
      margin-top: 0.15rem;
    }
  }

  
}
