/* ======================================== 
 * ========== Baseline elements ===========
 * ======================================== */

:root {
  --z-index-max: 99999;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transform-bounce: translateY(-3px) scale(1.003);

  /* https://v3.tailwindcss.com/docs/font-size */
  --text-xs-font-size: 0.75rem;
  --text-xs-line-height: 1rem;
  --text-sm-font-size: 0.875rem;
  --text-sm-line-height: 1.25rem;
  --text-base-font-size: 1rem;
  --text-base-line-height: 1.5rem;
  --text-lg-font-size: 1.125rem;
  --text-lg-line-height: 1.75rem;
  --text-xl-font-size: 1.25rem;
  --text-xl-line-height: 1.75rem;
  --text-2xl-font-size: 1.5rem;
  --text-2xl-line-height: 2rem;
  --text-3xl-font-size: 1.875rem;
  --text-3xl-line-height: 2.25rem;
  --text-4xl-font-size: 2.25rem;
  --text-4xl-line-height: 2.5rem;

  font-display: swap;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

html {
  letter-spacing: .005em;
}

html,
body {
  min-height: 100vh;
}

body {
  --padding-x: 1rem;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 80rem;
  margin: auto;

  display: flex;
  flex-direction: column;

  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

body:has(#menu-toggle:checked) {
  overflow: hidden;
}

body:has(#menu-toggle:checked) main * {
  position: initial;
}

@media (min-width: 485px) {
  body {
    --padding-x: 1.5rem;
  }
}

@media (min-width: 40rem) {
  body {
    --padding-x: 3.5rem;
  }

  body:has(#menu-toggle:checked) {
    overflow: auto;
  }
}

@media (min-width: 48rem) {
  body {
    --padding-x: 6rem;
  }
}

@media (min-width: 64rem) {
  body {
    --padding-x: 8rem;
  }
}

main {
  flex-grow: 1;
  margin: auto;
}

main.compact {
  max-width: 80ch;
}

a {
  color: rgb(var(--link-color-rgb));
  text-decoration: none;
  display: inline-block;
  transition: var(--transition);
}

a:hover {
  color: rgb(var(--link-color-pale-rgb));
}

p>a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: .2em;
  background-color: rgb(var(--link-color-pale-rgb));
  transition: var(--transition);
}

p>a:hover::after {
  width: 100%;
}

h1 {
  font-size: var(--text-3xl-font-size);
  line-height: var(--text-3xl-line-height);
  letter-spacing: 0.01rem;
  font-weight: 800;
  letter-spacing: 0.075rem;
}

@media(min-width: 365px) {
  h1 {
    font-size: var(--text-4xl-font-size);
    line-height: var(--text-4xl-line-height);
  }
}

img {
  display: block;
  max-width: 100%;
}

hr {
  color: rgb(var(--hr-rgb));
  margin: 0 -.75rem;
}

/* ======================================== 
 * ========== Global components ===========
 * ======================================== */

/* Top nav */
#top-header {
  --header-gap: 1.5rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  height: 53px;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  max-width: 64rem;
  margin: auto;
  z-index: 10;
}

#top-header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  z-index: 0;
}

#top-header a {
  font-weight: 500;
}

#navbar-blur~*,
#top-header .container {
  position: relative;
  height: 100%;
}

#top-header .container {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: var(--header-gap);
}

#top-header label[role=button] {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#top-header label[role=button] i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-size: var(--text-3xl-font-size);
  line-height: var(--text-3xl-line-height);
}

#top-header label[role=button]:hover i {
  color: rgb(var(--topnav-toggle-hover-rgb));
}

#nav-links {
  display: none;
}

#nav-links ul {
  display: flex;
}

#top-header:has(#menu-toggle:checked) #nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-toggle-container {
  z-index: var(--z-index-max);
}

@media not all and (min-width: 40rem) {
  #top-header #nav-links {
    position: absolute;
    z-index: var(--z-index-max);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(var(--menu-bg-rgb), 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  #top-header #nav-links ul {
    --header-gap: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
  }

  #top-header #nav-links a {
    font-weight: 700;
    letter-spacing: 0.05rem;
  }
}

@media (min-width: 40rem) {
  #top-header label[role=button] i {
    font-size: var(--text-2xl-font-size);
    line-height: var(--text-2xl-line-height);
  }

  #nav-links {
    display: flex;
  }

  #nav-links ul.container {
    flex-direction: row;
    margin-right: var(--header-gap);
  }

  #menu-toggle-container {
    display: none;
  }
}

input[type=checkbox]:not(:checked)~label i.checked,
input[type=checkbox]:checked~label i.unchecked {
  display: none !important;
}

.top-bumper {
  min-height: 148px;
}

/* Page footer*/
#page-footer {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  position: relative;
  margin-top: auto;
}

#page-footer * {
  font-size: var(--text-xs-font-size);
  line-height: var(--text-xs-line-height);
}

#page-footer>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(var(--color-neutral-400));
}

#page-footer small {
  position: absolute;
  bottom: 5px;
}

#page-footer small,
#page-footer small * {
  color: transparent;
  cursor: default;
}

#page-footer small a {
  text-decoration: underline;
  cursor: not-allowed;
}

/* ======================================== 
 * =========== Utility classes ============
 * ======================================== */

.prose,
.prose p,
.prose ul,
.prose ol {
  color: rgb(var(--text-prose-rgb));
}

p.prose {
  margin-bottom: .75rem;
}

.prose li {
  margin-bottom: .75rem;
}

.lead {
  margin: 1.5rem 0 .5rem 0;
  color: rgb(var(--text-lead-rgb));
  padding-bottom: .75rem;
  font-size: var(--text-lg-font-size);
  line-height: var(--text-lg-line-height);
  font-weight: 500;
}

header.standard {
  --padding-x: clamp(0.25rem, 2vw, .75rem);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-bottom: .75rem;
  position: relative;
}
header.standard::after {
  content: '';
  min-width: 100%;
  max-width: 90vw;
  height: 1px;
  border-bottom: 1px solid rgb(var(--hr-rgb));;
  position: absolute;
  bottom: 0;
}

header.standard h1 {
  margin-bottom: 1.25rem;
  text-align: center;
}

header.standard p {
  font-size: var(--text-sm-font-size);
}

@media (min-width: 40rem) {
  .mobile-only {
    display: none;
  }
}

.bubble-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.45rem;
  row-gap: 0.5rem;
}

.bubble-list li {
  color: rgb(var(--bubble-text-rgb));
  background-color: rgb(var(--bubble-bg-rgb));
  padding: 0.125rem 0.5rem;
  border-radius: 9999px;
  font-size: var(--text-xs-font-size);
  line-height: var(--text-xs-line-height);
  font-weight: 500;
  letter-spacing: 0.035em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}