---
layout: layouts/base
stylesheets:
  - page/index
permalink: /
---
  <main>
    <article>
      <header>
        <img
          src="{{ homepage.profileImage.src }}"
          alt="Profile Image"
          title="Mario Villacreses"
          height="{{ homepage.profileImage.height }}"
          width="{{ homepage.profileImage.width }}"
          data-remove-on-error
        />
        <h1 class="font-extrabold">{{ site.title }}</h1>
        <h2 class="text-sm">{{ homepage.subheading }}</h2>
        <dl id="quick-stats" class="text-sm">
          {% for iconClass, item, srLabel in (career | careerOngoing) %}
          <dt>
            <i class="{{iconClass}}" aria-hidden="true" role="presentation"></i>
            <span class="sr-only">{{srLabel}}</span>
          </dt>
          <dd>{{item}}</dd>
          {% endfor %}
          <dt>
            <i class="fa-solid fa-location-dot" aria-hidden="true" role="presentation"></i>
            <span class="sr-only">Location</span>
          </dt>
          <dd>{{ site.location }}</dd>
        </dl>
        <hr />
      </header>
      <section class="description prose">
        {{ content | safe }}
      </section>
      <address id="action-links" class="font-semibold">
        <ul>
          {% for link in homepage.actionLinks %}
          <li>
            <a href="{{ link.href }}" target="_blank" rel="noopener">
              <i class="{{ link.icon }}" aria-hidden="true" role="presentation"></i>
              <span>{{ link.label }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </address>
    </article>
  </main>