---
layout: layouts/feature
stylesheets:
  - page/now
  - callout
permalink: now.html
title: Now
description: >
  Curious about what I'm up to right now? This page shares my current focus, including my studies, projects, and personal interests. 
  It's inspired by the Now page movement and is updated regularly.
heading_description: >
  Wondering what I’m focused on lately? Inspired by Derek Sivers’ [Now page](https://nownownow.com/about){target=_blank rel="noopener noreferrer"}
  movement, this is where I share my current priorities—whether it’s work, personal projects, or new interests. If we haven’t connected in a while, 
  this is the quickest way to catch up.
---
  <article>
    <hgroup>
      <h2 class="font-semibold">So what am I currently doing?</h2>
      <p>
        <span>Last updated:</span>
        <time datetime="{{ lastUpdated }}">{{ lastUpdated | formatDateMonthYear}}</time>
      </p>
    </hgroup>
    <div class="prose">{{ content | safe }}</div>
  </article>
