{% macro header(label, icon) %}
<h3 class="list-grid">
  {%- if icon -%}
    <i class="{{ icon }}" aria-hidden="true" role="presentation"></i>
  {%- endif -%}
  <span>{{ label }}</span>
</h3>
{% endmacro %}
