@use 'breakpoint';
@use 'text';

@view-transition {
  navigation: auto;
}

:root {
  @include breakpoint.css-vars;
  --z-index-max: 99999;
  --transition-timing: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: background-color var(--transition-timing),
                transform var(--transition-timing),
                opacity var(--transition-timing);
  --transform-bounce: translateY(-3px) scale(1.003);
  --topnav-height: 53px;
}

%min-height {
  min-height: 100vh;
}

html {
  @extend %min-height;
  letter-spacing: .005em;
}

body {
  @extend %min-height;
  --padding-x: 1rem;

  display: flex;
  flex-direction: column;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 80rem;
  margin: 0 auto;

  &.menu-blur {
    main * {
      z-index: -1;
      position: relative;
    }
  }
  
  &:has(#mv-nav-menu-toggle:checked) {
    overflow: hidden;
    @include breakpoint.up(sm) {
      overflow: auto;
    }
  }

  @include breakpoint.up(2xs) {
    --padding-x: 1.5rem;
  }
  @include breakpoint.up(sm) {
    --padding-x: 3rem;
  }
  @include breakpoint.up(md) {
    --padding-x: 4.5rem;
  }
  @include breakpoint.up(lg) {
    --padding-x: 6rem;
  }
  @include breakpoint.up(xl) {
    --padding-x: 8rem;
  }
}

main {
  flex-grow: 1;
  margin: auto;

  &.compact {
    max-width: 80ch;
  }
}

a {
  color: rgb(var(--link-color-rgb));
  text-decoration: none;
  display: inline-block;
  transition: var(--transition);

  &:hover {
    color: rgb(var(--link-color-pale-rgb));
  }
}

p > a {
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: .2em;
    background-color: rgb(var(--link-color-pale-rgb));
    transition: var(--transition);
  }

  &:hover::after {
    width: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  @include text.size(3xl);
  letter-spacing: 0.075rem;
  font-weight: 800;

  @include breakpoint.up(3xs) {
    @include text.size(4xl);
  }
}

hr {
  color: rgb(var(--hr-rgb));
  margin: 0 -.75rem;
}

%prose-color {
  color: rgb(var(--text-prose-rgb));
}
%prose-line-break {
  margin-bottom: .75rem;
  @include breakpoint.up(sm) {
    margin-bottom: 1.25rem;
  }
}
.prose {
  @extend %prose-color;
  p {
    @extend %prose-color;
    @extend %prose-line-break;
  }
  li {
    @extend %prose-line-break;
  }
  ul {
    @extend %prose-color;
  }
  ol {
    @extend %prose-color;
  }
}

p.prose {
  @extend %prose-line-break;
}

.lead, p.lead {
  @include text.size(lg);
  margin: 1.75rem 0 .5rem 0;
  color: rgb(var(--text-lead-rgb));
  padding-bottom: .75rem;
  font-weight: 500;

  @include breakpoint.up(sm) {
    margin: 1.75rem 0 .75rem 0;
  }
}

.muted {
  color: rgb(var(--text-muted-rgb));
}

.bold {
  font-weight: bold;
}

@include breakpoint.up(sm) {
  .mobile-only {
    display: none;
  }
}
