---
---
:root {
  /* These are just here for reference. Hopefully in the future we can
   * use CSS variables in media queries. In the meantime, I will still
   * try to avoid using anything beyond plain CSS.
   */
  --breakpoint-3xs: 365px;
  --breakpoint-2xs: 485px;
  --breakpoint-xs: 560px;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-xxl: 96rem;
}

/* Light mode */
@mixin light-mode {
  --default-slate-rgb: var(--color-slate-600);
  --career-timeline-bar-rgb: var(--color-slate-400);
  --post-color-rgb: var(--color-neutral-400);
  --blockquote-border-rgb: var(--color-neutral-500);
  --card-bg-color: var(--color-green-300);
}

@mixin dark-mode {
  --hr-rgb: var(--color-slate-700);

  --default-slate-rgb: var(--color-slate-300);
  --career-timeline-bar-rgb: var(--color-slate-600);
  --post-color-rgb: var(--color-neutral-500);
  --blockquote-border-rgb: var(--color-neutral-300);
  --card-bg-color: var(--color-blue-600);
}

:root {
  @include light-mode;
  &.dark-mode {
    @include dark-mode;
  }
  &.light-mode {
    @include light-mode;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.light-mode):not(.dark-mode) {
    @include dark-mode;
  }
}
