---
---
:root {
  /* https://tailwindcss.com/docs/colors
   * https://tailscan.com/colors
   */
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 250, 250, 250;
  --color-neutral-100: 245, 245, 245;
  --color-neutral-200: 229, 229, 229;
  --color-neutral-300: 212, 212, 212;
  --color-neutral-400: 163, 163, 163;
  --color-neutral-500: 115, 115, 115;
  --color-neutral-600: 82, 82, 82;
  --color-neutral-700: 64, 64, 64;
  --color-neutral-800: 38, 38, 38;
  --color-neutral-900: 23, 23, 23;

  --color-gray-50: 249, 250, 251;
  --color-gray-100: 243, 244, 246;
  --color-gray-200: 229, 231, 235;
  --color-gray-300: 209, 213, 219;
  --color-gray-400: 156, 163, 175;
  --color-gray-500: 107, 114, 128;
  --color-gray-600: 75, 85, 99;
  --color-gray-700: 55, 65, 81;
  --color-gray-800: 31, 41, 55;
  --color-gray-900: 17, 24, 39;
  --color-gray-950: 3, 7, 18;

  --color-slate-50: 248, 250, 252;
  --color-slate-100: 241, 245, 249;
  --color-slate-200: 226, 232, 240;
  --color-slate-300: 203, 213, 225;
  --color-slate-400: 148, 163, 184;
  --color-slate-500: 100, 116, 139;
  --color-slate-600: 71, 85, 105;
  --color-slate-700: 51, 65, 85;
  --color-slate-800: 30, 41, 59;
  --color-slate-900: 15, 23, 42;
  --color-slate-950: 2, 6, 23;

  --color-blue-50: 239, 246, 255;
  --color-blue-100: 219, 234, 254;
  --color-blue-200: 191, 219, 254;
  --color-blue-300: 147, 197, 253;
  --color-blue-400: 96, 165, 250;
  --color-blue-500: 59, 130, 246;
  --color-blue-600: 37, 99, 235;
  --color-blue-700: 29, 78, 216;
  --color-blue-800: 30, 64, 175;
  --color-blue-900: 30, 58, 138;
  --color-blue-950: 23, 37, 84;

  --color-green-50: 240, 253, 244;
  --color-green-100: 220, 252, 231;
  --color-green-200: 187, 247, 208;
  --color-green-300: 134, 239, 172;
  --color-green-400: 74, 222, 128;
  --color-green-500: 34, 197, 94;
  --color-green-600: 22, 163, 74;
  --color-green-700: 21, 128, 61;
  --color-green-800: 22, 101, 52;
  --color-green-900: 20, 83, 45;
  --color-green-950: 5, 46, 22;

  --color-yellow-50: 254, 252, 232;
  --color-yellow-100: 254, 249, 195;
  --color-yellow-200: 254, 240, 138;
  --color-yellow-300: 253, 224, 71;
  --color-yellow-400: 250, 204, 21;
  --color-yellow-500: 234, 179, 8;
  --color-yellow-600: 202, 138, 4;
  --color-yellow-700: 161, 98, 7;
  --color-yellow-800: 133, 77, 14;
  --color-yellow-900: 113, 63, 18;
  --color-yellow-950: 66, 32, 6;

  --color-red-50: 254, 242, 242;
  --color-red-100: 254, 226, 226;
  --color-red-200: 254, 202, 202;
  --color-red-300: 252, 165, 165;
  --color-red-400: 248, 113, 113;
  --color-red-500: 239, 68, 68;
  --color-red-600: 220, 38, 38;
  --color-red-700: 185, 28, 28;
  --color-red-800: 153, 27, 27;
  --color-red-900: 127, 29, 29;
  --color-red-950: 69, 10, 10;

  --color-navy-50: 160, 188, 255; /* Lightest */
  --color-navy-100: 128, 166, 247;
  --color-navy-200: 102, 143, 224;
  --color-navy-300: 79, 121, 198;
  --color-navy-400: 61, 99, 170;
  --color-navy-500: 46, 78, 138;
  --color-navy-600: 34, 61, 111;
  --color-navy-700: 25, 47, 89;
  --color-navy-800: 17, 36, 68;
  --color-navy-850: 12, 30, 58; /* background */
  --color-navy-900: 10, 25, 47;
  --color-navy-950: 4, 12, 20; /* Darkest */

  --color-amethyst-50: 245, 243, 255;
  --color-amethyst-200: 221, 214, 254;
  --color-amethyst-100: 237, 233, 254;
  --color-amethyst-300: 196, 181, 253;
  --color-amethyst-400: 167, 139, 250;
  --color-amethyst-500: 139, 92, 246;
  --color-amethyst-600: 124, 58, 237;
  --color-amethyst-700: 109, 40, 217;
  --color-amethyst-800: 91, 33, 182;
  --color-amethyst-900: 76, 29, 149;
  --color-amethyst-950: 46, 16, 101;

  --color-link-green-rgb: 100, 255, 218;
  --color-link-green-pale-rgb: 86, 170, 165;
  --color-link-blue-rgb: 0, 100, 209;
  --color-link-blue-pale-rgb: 14, 150, 276;

  /* These are just here for reference. Hopefully in the future we can
   * use CSS variables in media queries. In the meantime, I will still
   * try to avoid using anything beyond plain CSS.
   */
  --breakpoint-3xs: 365px;
  --breakpoint-2xs: 485px;
  --breakpoint-xs: 560px;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-xxl: 96rem;
}

/* Light mode */
@mixin light-mode {
  --foreground-rgb: var(--color-neutral-700);
  --foreground-filter: invert(21%) sepia(16%) saturate(8%) hue-rotate(319deg) brightness(104%) contrast(92%);
  --background-start-rgb: var(--color-gray-100);
  --background-end-rgb: var(--color-gray-200);
  --link-color-rgb: var(--color-link-blue-rgb);
  --link-color-pale-rgb: var(--color-link-blue-pale-rgb);
  --menu-bg-rgb: var(--background-start-rgb);
  --topnav-toggle-hover-rgb: var(--color-neutral-500);

  --text-h2-rgb: var(--color-slate-500);
  --text-prose-rgb: var(--color-slate-600);
  --text-lead-rgb: var(--color-gray-600);

  --home-img-border-rgb: var(--color-slate-600);
  --home-text-stats-rgb: var(--color-gray-600);

  --default-slate-rgb: var(--color-slate-600);
  --career-timeline-bar-rgb: var(--color-slate-400);
  --bubble-text-rgb: var(--color-gray-600);
  --bubble-bg-rgb: var(--color-gray-300);
  --post-color-rgb: var(--color-neutral-400);
  --blockquote-border-rgb: var(--color-neutral-500);

  --note-primary-rgb: var(--color-blue-400);
  --note-secondary-rgb: var(--color-blue-600);
  --note-font-rgb: var(--color-blue-200);
  
  --tip-primary-rgb: var(--color-green-400);
  --tip-secondary-rgb: var(--color-green-600);
  --tip-font-rgb: var(--color-green-200);
  
  --important-primary-rgb: var(--color-amethyst-500);
  --important-secondary-rgb: var(--color-amethyst-700);
  --important-font-rgb: var(--color-amethyst-200);   

  --warning-primary-rgb: var(--color-yellow-400);
  --warning-secondary-rgb: var(--color-yellow-600);
  --warning-font-rgb: var(--color-yellow-950);

  --caution-primary-rgb: var(--color-red-400);
  --caution-secondary-rgb: var(--color-red-600);
  --caution-font-rgb: var(--color-red-100);

  --project-thead-rgb: var(--color-blue-100);
}

@mixin dark-mode {
  --topnav-toggle-hover-rgb: var(--color-neutral-400);
  --link-color-rgb: var(--color-link-green-rgb);
  --link-color-pale-rgb: var(--color-link-green-pale-rgb);
  --foreground-rgb: var(--color-neutral-200);
  --foreground-filter: invert(100%) sepia(0%) saturate(2655%) hue-rotate(211deg) brightness(94%) contrast(104%);
  --background-start-rgb: var(--color-navy-850);
  --background-end-rgb: var(--color-slate-900);
  
  --text-h2-rgb: var(--color-slate-400);
  --text-prose-rgb: 175, 188, 204;
  --text-lead-rgb: var(--color-gray-400);
  
  --home-img-border-rgb: var(--color-blue-100);
  --home-text-stats-rgb: var(--color-slate-400);
  --hr-rgb: var(--color-slate-700);
  --default-slate-rgb: var(--color-slate-300);
  --career-timeline-bar-rgb: var(--color-slate-600);
  --bubble-text-rgb: var(--color-slate-300);
  --bubble-bg-rgb: var(--color-slate-700);
  --post-color-rgb: var(--color-neutral-500);
  --blockquote-border-rgb: var(--color-neutral-300);
  
  --note-primary-rgb: var(--color-blue-400);
  --note-secondary-rgb: var(--color-blue-600);
  --note-font-rgb: var(--color-blue-200);
  
  --tip-primary-rgb: var(--color-green-400);
  --tip-secondary-rgb: var(--color-green-800);
  --tip-font-rgb: var(--color-green-400);
  
  --important-primary-rgb: var(--color-amethyst-400);
  --important-secondary-rgb: var(--color-amethyst-800);
  --important-font-rgb: var(--color-amethyst-300);
  
  --warning-primary-rgb: var(--color-yellow-300);
  --warning-secondary-rgb: var(--color-yellow-500);
  --warning-font-rgb: var(--color-yellow-900);
  
  --caution-primary-rgb: var(--color-red-400);
  --caution-secondary-rgb: var(--color-red-800);
  --caution-font-rgb: var(--color-red-200);

  --project-thead-rgb: var(--color-navy-850);

  --card-bg-color: var(--color-blue-600);
}

:root {
  @include light-mode;

  &.dark-mode {
    @include dark-mode;
  }
  &.light-mode {
    @include light-mode; // Optional explicitness
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.light-mode):not(.dark-mode) {
    @include dark-mode;
  }
}
