---
---
@import "mv-callout"

.bubble-list 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  column-gap: 0.45rem
  row-gap: 0.5rem

  li 
    color: rgb(var(--bubble-text-rgb))
    background-color: rgb(var(--bubble-bg-rgb))
    padding: 0.125rem 0.5rem
    border-radius: 9999px
    font-size: var(--text-xs-font-size)
    line-height: var(--text-xs-line-height)
    font-weight: 500
    letter-spacing: 0.035em

header.standard 
  --padding-x: clamp(0.25rem, 2vw, .75rem)
  margin-bottom: 3rem
  display: flex
  flex-direction: column
  align-items: center
  padding-left: var(--padding-x)
  padding-right: var(--padding-x)
  padding-bottom: .75rem
  position: relative

  &::after 
    content: ''
    min-width: 100%
    max-width: 90vw
    height: 1px
    border-bottom: 1px solid rgb(var(--hr-rgb))
    position: absolute
    bottom: 0

  h1 
    margin-bottom: 1.25rem
    text-align: center

  p 
    font-size: var(--text-sm-font-size)

#page-footer 
  padding-top: 5rem
  padding-bottom: 2.5rem
  position: relative
  margin-top: auto

  * 
    font-size: var(--text-xs-font-size)
    line-height: var(--text-xs-line-height)

  &>div 
    display: flex
    flex-direction: row
    justify-content: space-between
    color: rgb(var(--color-neutral-400))

  %hide-text
    color: transparent
    cursor: default

  small 
    @extend %hide-text
    position: absolute
    bottom: 5px

    *
      @extend %hide-text

    a 
      text-decoration: underline
      cursor: not-allowed

table.standard 
  width: 100%
  border-collapse: collapse
  text-align: left
  border-spacing: 10px

  %left-padding
    &:first-of-type
      padding-left: 1rem

  thead 
    --backdrop-filter: blur(8px)
    position: sticky
    top: var(--topnav-height)
    z-index: 10
    background-color: rgba(var(--color-navy-850), 0.45)
    -webkit-backdrop-filter: var(--backdrop-filter)
    backdrop-filter: var(--backdrop-filter)
    padding-left: 1rem

  th 
    padding: 1rem 2rem 1rem 0
    font-size: var(--text-sm-font-size)
    line-height: var(--text-sm-line-height)
    font-weight: 600
    
    @extend %left-padding

  td 
    padding: 1rem 1rem 1rem 0
    vertical-align: top
    
    @extend %left-padding

  tbody
    tr
      &:not(:last-of-type) 
        border-bottom: 1px solid rgba(var(--color-slate-300), 0.1)
