@use 'breakpoint';
@use 'theme';
@use 'text';

@include theme.light {
  --bubble-text-rgb: var(--color-gray-600);
  --bubble-bg-rgb: var(--color-gray-300);
}

@include theme.dark {
  --bubble-text-rgb: var(--color-slate-300);
  --bubble-bg-rgb: var(--color-slate-700);
}

.bubble-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.45rem;
  row-gap: 0.5rem;

  li {
    @include text.size(xs);
    color: rgb(var(--bubble-text-rgb));
    background-color: rgb(var(--bubble-bg-rgb));
    padding: 0.125rem 0.35rem;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

header.standard {
  --padding-x: clamp(0.25rem, 2vw, .75rem);
  margin: 0 auto 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-bottom: .75rem;
  position: relative;
  max-width: 80ch;

  @include breakpoint.up(sm) {
    padding-bottom: 1.25rem;
  }

  &::after {
    content: '';
    min-width: 100%;
    max-width: 90vw;
    height: 1px;
    border-bottom: 1px solid rgb(var(--hr-rgb));
    position: absolute;
    bottom: 0;
  }

  h1 {
    margin-bottom: 1.25rem;
    text-align: center;
  }
  p {
    font-size: var(--text-sm-font-size);
  }
}

table.standard {
  --padding-outer: 0.5rem;
  --padding-right: 1rem;

  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 10px;

  @include breakpoint.up(sm) {
    --padding-outer: 1rem;
    --padding-right: 2rem;
  }

  %outer-padding {
    &:first-of-type {
      padding-left: var(--padding-outer);
    }
  }
  th {
    @extend %outer-padding;
    @include text.size(sm);
    padding: 1rem var(--padding-right) 1rem 0;
    font-weight: 600;
  }
  td {
    @extend %outer-padding;
    padding-right: var(--padding-right);
    vertical-align: top;
  }
  tbody {
    tr {
      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(var(--color-slate-300), 0.1);
      }

      td {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

ul.timeline-track, ol.timeline-track {
  --list-gap: 0.5em;
  --circumference: 8px;
  --border-radius: 50%;
  --bullet-offset: 0.5em;

  display: flex;
  flex-direction: column;
  gap: var(--list-gap);

  & > li {
    --grid-node-width: 1.5em;
    display: grid;
    gap: 0.5em;
    grid-template-columns: var(--grid-node-width) 1fr;
    
    * {
      grid-column: 2;
    }
    
    &::before, &::after {
      all: revert;
      content: '';
      display: block;
      grid-area: 1 / 1 / 1/ 1;
      justify-self: center;
      margin-top: var(--bullet-offset);
    }
    
    &::after {
      height: var(--circumference);
      width: var(--circumference);
      background-color: rgb(var(--default-slate-rgb));
      border-radius: var(--border-radius);
    }

    &:not(:last-child):before {
      width: 1px;
      height: calc(100% + var(--list-gap));
      border-left: 1px dashed rgb(var(--career-timeline-bar-rgb));
    }
  }
}