@mixin light-mode {
  --bubble-text-rgb: var(--color-gray-600);
  --bubble-bg-rgb: var(--color-gray-300);
}

@mixin dark-mode {
  --bubble-text-rgb: var(--color-slate-300);
  --bubble-bg-rgb: var(--color-slate-700);
}

:root {
  @include light-mode;
  &.dark-mode {
    @include dark-mode;
  }
  &.light-mode {
    @include light-mode;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.light-mode):not(.dark-mode) {
    @include dark-mode;
  }
}

.bubble-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.45rem;
  row-gap: 0.5rem;

  li {
    color: rgb(var(--bubble-text-rgb));
    background-color: rgb(var(--bubble-bg-rgb));
    padding: 0.125rem 0.5rem;
    border-radius: 6px;
    font-size: var(--text-xs-font-size);
    line-height: var(--text-xs-line-height);
    font-weight: 600;
    letter-spacing: 0.035em;
  }
}

header.standard {
  --padding-x: clamp(0.25rem, 2vw, .75rem);
  margin: 0 auto 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-bottom: .75rem;
  position: relative;
  max-width: 80ch;

  @media (min-width: 40rem) {
    padding-bottom: 1.25rem;
  }
  
  &::after {
    content: '';
    min-width: 100%;
    max-width: 90vw;
    height: 1px;
    border-bottom: 1px solid rgb(var(--hr-rgb));
    position: absolute;
    bottom: 0;
  }

  h1 {
    margin-bottom: 1.25rem;
    text-align: center;
  }
  p{ 
    font-size: var(--text-sm-font-size);
  }
};

table.standard {
  --padding-outer: 0.5rem;
  --padding-right: 1rem;
  
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 10px;

  @media (min-width: 40rem) {
    --padding-outer: 1rem;
    --padding-right: 2rem;
  }

  %outer-padding {
    &:first-of-type {
      padding-left: var(--padding-outer);
    }
  }
  th{ 
    padding: 1rem var(--padding-right) 1rem 0;
    font-size: var(--text-sm-font-size);
    line-height: var(--text-sm-line-height);
    font-weight: 600;
    
    @extend %outer-padding;
  }
  td {
    padding-right: var(--padding-right);
    vertical-align: top;
    
    @extend %outer-padding;
  }
  tbody {
    tr {
      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(var(--color-slate-300), 0.1);
      }
      
      td {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}
