%heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1 {
  @extend %heading;
  font-size: var(--text-5xl-font-size);
  line-height: var(--text-5xl-line-height);

  @media (min-width: 40rem) {
    font-size: var(--text-6xl-font-size);
    line-height: var(--text-6xl-line-height);
  }
}

h2 {
  @extend %heading;
  font-size: var(--text-4xl-font-size);
  line-height: var(--text-4xl-line-height);

  @media (min-width: 40rem) {
    font-size: var(--text-5xl-font-size);
    line-height: var(--text-5xl-line-height);
  }
}

h3 {
  @extend %heading;
  font-size: var(--text-3xl-font-size);
  line-height: var(--text-3xl-line-height);
  
  @media (min-width: 40rem) {
    font-size: var(--text-4xl-font-size);
    line-height: var(--text-4xl-line-height);
  }
}

h4 {
  @extend %heading;
  font-size: var(--text-2xl-font-size);
  line-height: var(--text-2xl-line-height);

  @media (min-width: 40rem) {
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
  }
}

h5 {
  @extend %heading;
  font-size: var(--text-xl-font-size);
  line-height: var(--text-xl-line-height);

  @media (min-width: 40rem) {
    font-size: var(--text-2xl-font-size);
    line-height: var(--text-2xl-line-height);
  }
}

h6 {
  @extend %heading;
  font-size: var(--text-lg-font-size);
  line-height: var(--text-lg-line-height);

  @media (min-width: 40rem) {
    font-size: var(--text-xl-font-size);
    line-height: var(--text-xl-line-height);
  }
}

article {
  %article-list {
    padding-left: 1rem;
    margin-left: 0.75rem;
    margin-bottom: 0.75rem;
  }
  
  ul {
    @extend %article-list;
    list-style-type: disc;
  }
  
  ol {
    @extend %article-list;
    list-style-type: decimal;
  }
}

.prose li {
  margin-bottom: 0.25rem;
}

em {
  margin-right: 0.125rem;
}

blockquote {
  padding: .125rem 0 .125rem .75rem;
  margin: 1rem 0 .75rem 0.5rem;
  border-left: 0.25rem solid rgb(var(--blockquote-border-rgb));
  font-style: italic;
  font-size: var(--text-lg-font-size);
  line-height: var(--text-lg-line-height);
  
  p:last-child {
    margin-bottom: 0;
  }
  
  em {
    font-style: normal;
  }
}

hr.footnotes-sep {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.footnotes {
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);
  
  &::before {
    content: "Footnotes";
    display: block;
    font-weight: 700;
    letter-spacing: 0.075rem;
    margin-bottom: 0.5rem;
    font-size: var(--text-lg-font-size);
    line-height: var(--text-lg-line-height);
  }
}

a.footnote {
  &::before {
    content: "[";
    margin-right: 0.05rem;
  }
  
  &::after {
    content: "]";
    margin-left: 0.05rem;
  }
}

[id]:target {
  scroll-margin-top: calc(var(--topnav-height) + 3rem);
}

li[id^="fn"] {
  &:target {
    background: rgba(238, 238, 155, 0.2); /* soft yellow */
    /* border: 1px solid #facc15; */
    transition: background-color 0.8s ease-in-out;
    padding: 0.0625rem 0.125rem;
  }
  
  :last-child {
    margin-bottom: 0;
  }
}
