@use 'breakpoint';
@use 'text';

#navbar-blur~*,
#top-header .container {
  position: relative;
  height: 100%;
}

#top-header {
  --header-gap: 1.5rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  height: var(--topnav-height);
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  max-width: 64rem;
  margin: auto;
  z-index: 10;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: 0;
  }
  
  a {
    font-weight: 500;
  }

  .container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    gap: var(--header-gap);
  }
}

.boolean-toggle {
  label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    i {
      @include text.size(3xl);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;

      @include breakpoint.up(sm) {
        @include text.size(2xl);
      }
    }
    
    &:hover i {
      color: rgb(var(--topnav-toggle-hover-rgb));
    }
  }

  input:checked + label .unchecked,
  input:not(:checked) + label .checked {
    display: none;
  }
}

mv-nav-menu-toggle {
  z-index: var(--z-index-max);
  @include breakpoint.up(sm) {
    display: none;
  }
}

#nav-links {
  display: none;

  @include breakpoint.down(sm) {
    position: absolute;
    z-index: var(--z-index-max);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(var(--menu-bg-rgb), 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  
  @include breakpoint.up(sm) {
    display: flex;
  }
  
  & ul {
    display: flex;
    
    @include breakpoint.down(sm) {
      --header-gap: 2.5rem;
      @include text.size(3xl);
    }
    
    &.container {
      @include breakpoint.down(sm) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @include breakpoint.up(sm) {
        flex-direction: row;
        margin-right: var(--header-gap);
      }
    }
    
    a {
      @include breakpoint.down(sm) {
        font-weight: 700;
        letter-spacing: 0.05rem;
      }
    }
  }

  #top-header:has(#mv-nav-menu-toggle:checked) & {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top-bumper {
  min-height: 148px;
}

#page-footer {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  position: relative;
  margin-top: auto;

  * {
    @include text.size(xs);
  }
  &>div{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(var(--color-neutral-400));
  }
  %hide-text {
    color: transparent;
    cursor: default;
  }
  small { 
    @extend %hide-text;
    position: absolute;
    bottom: 5px;

    * {
      @extend %hide-text;
    }
    a { 
      text-decoration: underline;
      cursor: not-allowed;
    }
  }
}
