table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 10px;
}

thead {
  --backdrop-filter: blur(8px);
  position: sticky;
  top: var(--topnav-height);
  z-index: 10;
  background-color: rgba(var(--color-navy-850), 0.45);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  padding-left: 1rem;
}

th {
  padding: 1rem 2rem 1rem 0;
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);
  font-weight: 600;
}

tbody tr:not(:last-of-type) {
  border-bottom: 1px solid rgba(var(--color-slate-300), 0.1);
}

td {
  padding: 1rem 1rem 1rem 0;
  vertical-align: top;
}

th:first-of-type, tr td:first-of-type {
  padding-left: 1rem;
}

td.date {
  --width: 6rem;
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);
  word-wrap: none;
  white-space: nowrap;
  width: var(--width);
  min-width: var(--width);
}
@media (min-width: 48rem) {
  td.date {
    --width: 7.5rem;
  }
}
@media (min-width: 64rem) {
  td.date {
    --width: 8rem;
  }
}

td.details {
  line-height: 1.375;
  width: 100%;
}
td.details .title {
  font-weight: 600;
}
td.details .description {
  font-weight: 300;
  font-size: var(--text-xs-font-size);
  line-height: var(--text-xs-line-height);
  font-style: italic;
  color: rgb(var(--color-slate-500))
}


td.links {
  --width: 4rem;
  width: var(--width);
  min-width: var(--width);
}
@media (min-width: 40rem) {
  td.links {
    --width: 6rem;
  }
}
@media (min-width: 64rem) {
  td.links {
    --width: 8rem;
  }
}

td.links ul {
  font-size: var(--text-lg-font-size);
  line-height: var(--text-lg-line-height);
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
