@import url('./prism.css');

.top-bumper {
  min-height: 118px;
}

main {
  width: clamp(100%, 100%, 80ch);
  align-self: stretch;
  /* border: 1px solid red; */
}

#main-content {
  margin-left: 0.75rem;
}

article > header {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1 {
  font-size: var(--text-6xl-font-size);
  line-height: var(--text-6xl-line-height);
}

h2 {
  font-size: var(--text-5xl-font-size);
  line-height: var(--text-5xl-line-height);
}

h3 {
  font-size: var(--text-4xl-font-size);
  line-height: var(--text-4xl-line-height);
}

h4 {
  font-size: var(--text-3xl-font-size);
  line-height: var(--text-3xl-line-height);
}

h5 {
  font-size: var(--text-2xl-font-size);
  line-height: var(--text-2xl-line-height);
}

h6 {
  font-size: var(--text-xl-font-size);
  line-height: var(--text-xl-line-height);
}

article ol, article ul {
  padding-left: 1rem;
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
}

article ul {
  list-style-type: disc;
}

.prose li {
  margin-bottom: 0.25rem;
}

article ol {
  list-style-type: decimal;
}

em {
  margin-right: 0.125rem;
}

blockquote {
  padding: .125rem 0 .125rem .75rem;
  margin: 1rem 0 .75rem 0.5rem;
  border-left: 0.25rem solid rgb(var(--blockquote-border-rgb));
  font-style: italic;
  font-size: var(--text-lg-font-size);
  line-height: var(--text-lg-line-height);
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote em {
  font-style: normal;
}

.callout {
  --callout-primary-rgb: var(--foreground-rgb);
  --callout-secondary-rgb: var(--color-blue-900);
  --callout-text-rgb: var(--color-blue-900);
  
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);
  font-style: normal;
  color: rgb(var(--color-neutral-300));
  
  display: grid;
  grid-template-columns: auto 1fr;
  
  border-left-color: rgb(var(--callout-primary-rgb));
  border-top-color: rgba(var(--callout-primary-rgb), 0.5);
  border-left-width: 0.3rem;
  border-top-width: 1px;
  border-radius: 10px;
  padding: 0 0 .75rem;
  font-weight: 500;
  
  overflow: hidden;
  background-color:  rgba(var(--callout-secondary-rgb), 0.2);
}
.callout * {
  grid-column: span 2;
  padding-left: 1rem;
  padding-right: 1rem;
}
.callout::before, .callout::after {
  padding-top: 0.5rem;
  padding-bottom: 0.125rem;
  margin-top: -3px;
  background-color: rgb(var(--callout-secondary-rgb));
  position: relative;
  z-index: 0;
  color: rgb(var(--callout-text-rgb));
}
.callout::before {
  grid-row: 1;
  grid-column: 2;
  font-family: inherit;
  border-color: rgb(var(--callout-primary-rgb));
  font-weight: 700;
}
.callout::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-style: normal;
  grid-row: 1;
  grid-column: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.callout p {
  margin-bottom: 0.5rem;
}
.callout :first-child {
  margin-top: 0.5rem;
}

.callout.note { /* blue */
  --callout-primary-rgb: var(--note-primary-rgb);
  --callout-secondary-rgb: var(--note-secondary-rgb);
  --callout-text-rgb: var(--note-font-rgb);
}
.callout.note::before {
  content: 'Note';
}
.callout.note::after {
  content: "\f05a"; 
}

.callout.tip { /* green */
  --callout-primary-rgb: var(--tip-primary-rgb);
  --callout-secondary-rgb: var(--tip-secondary-rgb);
  --callout-text-rgb: var(--tip-font-rgb);
}
.callout.tip::before {
  content: 'Tip';
}
.callout.tip::after {
  content: "\f0eb"; 
}

.callout.warning { /* yellow */
  --callout-primary-rgb: var(--warning-primary-rgb);
  --callout-secondary-rgb: var(--warning-secondary-rgb);
  --callout-text-rgb: var(--warning-font-rgb);
}
.callout.warning::before {
  content: 'Warning';
}
.callout.warning::after {
  content: "\f071"; 
}

.callout.important { /* red */
  --callout-primary-rgb: var(--important-primary-rgb);
  --callout-secondary-rgb: var(--important-secondary-rgb);
  --callout-text-rgb: var(--important-font-rgb);
}
.callout.important::before {
  content: 'Important';
}
.callout.important::after {
  content: "\f519"; 
}

article dd:not(:last-child)::after {
  content: '•';
  margin: 0 0.5em;
}

.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  color: rgb(var(--post-color-rgb));
  margin-left: 0.5rem;
}

:not(pre)>code[class*=language-] {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
