@import url('./prism.css');
@import url('./markdown.css');

.top-bumper {
  min-height: 118px;
}

main {
  width: clamp(100%, 100%, 80ch);
  align-self: stretch;
  /* border: 1px solid red; */
}

#main-content {
  margin-left: 0.75rem;
}

article > header {
  margin-bottom: 2rem;
}

.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  color: rgb(var(--post-color-rgb));
  margin-left: 0.5rem;
}

:not(pre)>code[class*=language-] {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
