.top-bumper {
  min-height: 0;
  height: 0 !important;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.qr-title {
  font-size: var(--text-5xl-font-size);
  line-height: var(--text-5xl-line-height);
}

.qr-container {
  width: 80vw;
  max-width: 30rem;
}

@media (prefers-color-scheme: light) {
  .qr-container {
    border: 3px solid rgb(var(--color-gray-800));
  }
}

[data-mv-theme=LIGHT] .qr-container,
body:not(:has(#menu-toggle:checked)) .qr-container {
  border: 3px solid rgb(var(--color-gray-800));
}