$primary_color: #195e8e;

$shorten_nav: 893px;

$nav_width_desktop: 17rem;
$nav_width_tablet: 12rem;
$nav_height_mobile: 80px;

$nav_breakpoint_desktop_small: 1024px;
$nav_breakpoint_tablet: 768px;
$nav_breakpoint_mobile: 425px;

// responsive
$top_nav_width: 824px;
$nav_height: 50px;

$width_mobile: 425px;
$width_mobile_m: 375px;
$width_mobile_s: 320px;

$surname_break_1: 655px;
$surname_break_2: 480px;
