
/* ======================================== 
 * ========== Baseline elements ===========
 * ======================================== */

html {
  background-color: rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  --padding-x: 1rem;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),    
    rgb(var(--background-end-rgb))
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  
}
@media (min-width: 485px) {
  body {
    --padding-x: 1.5rem;
  }
}
@media (min-width: 40rem) {
  body {
    --padding-x: 3.5rem;
  }
}
@media (min-width: 48rem) {
  body {
    --padding-x: 6rem;
  }
}
@media (min-width: 64rem) {
  body {
    --padding-x: 8rem;
  }
}

main {
  flex-grow: 1;
}

a {
  color: rgb(var(--link-color-rgb));
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* ======================================== 
 * ========== Global components ===========
 * ======================================== */

/* Top nav */
#top-header {
  --header-gap: 1.5rem;
  
  padding: .5rem 1.5rem .5rem 1.5rem;
  height: 53px;
  position: fixed;
  left: 0;
  right: 0;
}
#top-header a {
  font-weight: 500;
}
#top-header nav {
  display: flex;
  flex-direction: row;
  gap: var(--header-gap);
}
#top-header nav ul {
  flex: 1;  
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
#top-header nav ul > div {
  display: flex;
  flex-direction: row;
  gap: var(--header-gap);
}
.top-bumper{
  min-height: 148px;
}

/* Page footer*/
#page-footer {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  position: relative;
  margin-top: auto;
}
#page-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(var(--color-neutral-400));
  opacity: .7;
}
#page-footer small,
#page-footer small * {
  color: transparent;
  cursor: default;
}
#page-footer small a {
  text-decoration: underline;
  cursor: not-allowed;
}

/* ======================================== 
 * ========== Utility classes ==========
 * ======================================== */
.prose {
  color: rgb(var(--text-prose-rgb));
  padding-bottom: 1rem;
}
.lead {
  margin: 1.5rem 0 .5rem 0;
  color: rgb(var(--text-lead-rgb));
}