
/* ======================================== 
 * ========== Baseline elements ===========
 * ======================================== */

html {
  background-color: rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

body {
  --padding-x: 1rem;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),    
    rgb(var(--background-end-rgb))
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  
}
@media (min-width: 485px) {
  body {
    --padding-x: 1.5rem;
  }
}
@media (min-width: 40rem) {
  body {
    --padding-x: 3.5rem;
  }
}
@media (min-width: 48rem) {
  body {
    --padding-x: 6rem;
  }
}
@media (min-width: 64rem) {
  body {
    --padding-x: 8rem;
  }
}

main {
  flex-grow: 1;
}

a {
  color: rgb(var(--link-color-rgb));
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

hr {
  margin: 1.5rem -.75rem 0 -.75rem;
  border-color: rgb(var(--color-neutral-700));
  opacity: .5;
}

/* ======================================== 
 * ========== Global components ===========
 * ======================================== */

/* Top nav */
#top-header {
  --header-gap: 1.5rem;
  
  padding: .5rem 1.5rem .5rem 1.5rem;
  height: 53px;
  position: fixed;
  left: 0;
  right: 0;
}
#top-header a {
  font-weight: 500;
}
#top-header nav {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--header-gap);
  height: 100%;
}
#top-header nav ul {
  flex: 1;  
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: var(--header-gap);
}
#navbar-blur {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(40px);
  opacity: 1;
}
.top-bumper{
  min-height: 148px;
}

/* Page footer*/
#page-footer {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  position: relative;
  margin-top: auto;
}
#page-footer * {
  font-size: var(--text-xs-font-size);
  line-height: var(--text-xs-line-height);
}
#page-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(var(--color-neutral-400));
  opacity: .7;
}
#page-footer small {
  position: absolute;
  bottom: 0;
}
#page-footer small,
#page-footer small * {
  color: transparent;
  cursor: default;
}
#page-footer small a {
  text-decoration: underline;
  cursor: not-allowed;
}

/* Dark mode toggle */
label[for=dark-toggle] {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
label[for=dark-toggle] i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-size: var(--text-3xl-font-size);
  line-height: var(--text-3xl-line-height);
}
:root:has(#dark-toggle:not(:checked)) .fa-moon,
:root:has(#dark-toggle:checked) .fa-sun {
  display: none;
}
@media (min-width: 40rem) {
  label[for=dark-toggle] i {
    font-size: var(--text-2xl-font-size);
    line-height: var(--text-2xl-line-height);
  }
}

/* ======================================== 
* ========== Utility classes ==========
* ======================================== */
.prose {
  color: rgb(var(--text-prose-rgb));
  padding-bottom: .75rem;
}

.lead {
  margin: 1.5rem 0 .5rem 0;
  color: rgb(var(--text-lead-rgb));
  padding-bottom: .75rem;
  font-size: var(--text-xl-font-size);
  line-height: var(--text-xl-line-height);
}
