---
layout: layouts/post
collection: notes
style_src: posts
pagination:
  data: notes
  size: 1
  alias: note
permalink: "notes/{{ note.slug }}.html"
eleventyComputed:
  title: "{{ note.frontmatter.title }}"
  date: "{{ note.frontmatter.date }}"
  readingTime: "{{ note.content | wordcount }}"
---
{{note.content | markdown | safe }}
