---
layout: layouts/note
collection: notes
style_src: posts
pagination:
  data: notes         # your data source (can be global or local)
  size: 1             # one item per page
  alias: note
permalink: "notes/{{ note.slug }}.html"
eleventyComputed:
  title: "{{ note.frontmatter.title }}"
  date: "{{ note.frontmatter.date }}"
  readingTime: "{{ note.content | wordcount }}"
---
{{note.content}}
