---
layout: layouts/feature
stylesheets:
  - page/projects
permalink: /projects.html
title: Projects
description: >
  Explore a selection of my projects, showcasing my skills in software development, problem-solving, and innovation.
heading_description: >
  This page showcases a selection of my projects, including personal, academic, and professional work. Each project 
  highlights my skills in software development, problem-solving, and innovation. For a more comprehensive view of my 
  work, check out my [latest resume](/assets/files/resume.pdf){target=_blank rel="noopener noreferrer"}.
---
  <ul class="project-grid">
    {%- for project in projects -%}
    <li class="project-listing">
      <section>
        <header>
          <h3>{{ project.title }}</h3>
          {% include "fragments/project-links.njk" %}
        </header>
        <p class="description">{{ project.description }}</p>
        <footer>
          <ul class="bubble-list">
            {%- for tag in project.tags -%}
            <li>{{tag}}</li>
            {%- endfor -%}
          </ul>
        </footer>
      </section>
    </li>
    {%- endfor -%}
  </ul>
