---
layout: layouts/feature
style_src: projects
permalink: /projects.html
title: Projects
description: >
  Explore a selection of my projects, showcasing my skills in software development, problem-solving, and innovation.
heading_description: >
  This page showcases a selection of my projects, including personal, academic, and professional work. Each project highlights my skills in software development, problem-solving, and innovation. For a more comprehensive view of my work, check out my [latest resume](/assets/files/resume.pdf).
---
  <table class="standard">
    <thead>
      <tr>
        <th scope="col" class="date">Date</th>
        <th scope="col">Project</th>
        <th scope="col">Links</th>
      </tr>
    </thead>
    <tbody>
      {%- for project in projects -%}
      <tr>
        <td>
          <span class="date">{{ project.date | formatDateMonthYear }}</span>
        </td>
        <td class="details">
          <div class="title">{{ project.title }}</div>
          {% include "fragments/project-links.njk" %}
          {%- if project.description -%}
          <div class="description">{{ project.description }}</div>
          {%- endif -%}
        </td>
        <td class="links">
          {% include "fragments/project-links.njk" %}
        </td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>