<ul class="project-links">
  {%- if project.url_github -%}
  <li>
    <a
      href="{{ project.url_github }}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub repo for this project"
      title="GitHub repo"
    >
      <i class="fa-brands fa-github" aria-hidden="true" role="presentation"></i>
      <span class="table-small">GitHub repo</span>
    </a>
  </li>
  {%- endif -%}
  {%- if project.url_demo -%}
  <li>
    <a
      href="{{ project.url_demo }}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Live demo"
      title="Live demo"
    >
      <i class="fa-solid fa-eye" aria-hidden="true" role="presentation"></i>
      <span class="table-small">Live Demo</span>
    </a>
  </li>
  {%- endif -%}
  {%- if project.url_note -%}
  <li>
    <a
      href="{{ project.url_note }}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Note"
    >
      <i class="fa-solid fa-file-alt" aria-hidden="true" role="presentation"></i>
      <span class="table-small">Note</span>
    </a>
  </li>
  {%- endif -%}
</ul>