<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%- include meta-title.liquid -%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/index.css">
  {%- assign style_src = page.style_src | default: layout.style_src -%}

  {%- if style_src -%}<link rel="stylesheet" href="/assets/styles/page-{{style_src}}.css">{%- endif -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" media="none" onload="if(media!=='all')media='all'">
  <script defer src="https://kit.fontawesome.com/496a6692f9.js" crossorigin="anonymous"></script>
  <script type="module" src="/index.js"></script>
  <meta name="title" content="{%- include meta-title.liquid -%}">
  <meta name="description" content="{%- include meta-description.liquid -%}">
  <meta name="author" content="Mario Villacreses">
  <meta name="keywords" content="portfolio, software engineer">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mariovillacreses.com{{page.url}}">
  <meta property="og:site_name" content="Mario Villacreses">
  <meta property="og:title" content="{%- include meta-title.liquid -%}">
  <meta property="og:description" content="{%- include meta-description.liquid -%}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{%- include meta-title.liquid -%}">
  <meta name="twitter:description" content="{%- include meta-description.liquid -%}">
</head>
<body>
  <header id="top-header">
    <div id="navbar-blur"></div>
    <nav style="margin-right:auto;flex:1" class="container home-link">
      <a href="/">
        Mario Villacreses
      </a>
    </nav>
    <nav id="nav-links">
      <ul class="container">
        <li class="mobile-only">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/now">Now</a>
        </li>
        <li>
          <a href="/notes">Notes</a>
        </li>
        <li>
          <a href="/career">Career</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
    <div id="nav-actions" class="container">
      <mv-dark-toggle></mv-dark-toggle>
      <mv-nav-menu-toggle></mv-nav-menu-toggle>
    </div>
  </header>
  <div class="top-bumper"></div>
  {{content}}
  <footer id="page-footer" class="text-xs">
    <div>
      <p>© 2024 Mario Villacreses</p>
      <p>
        Inspired by
        <a rel="noopener" target="_blank" href="https://blowfish.page/">
          Blowfish
        </a>
      </p>
    </div>
    <small aria-hidden="true">
      Still using Netscape? Check out my
      <a href="/90s" tabindex="-1">optimized site</a>.
    </small>
  </footer>
  <script>
    function onAssetsLoaded() {
      ["/career", "/now", "/notes"].forEach(href => {
        const link = document.createElement('link');
        link.rel = 'prefetch';
        link.href = href;
        document.head.appendChild(link);
      })
    }

    setTimeout(onAssetsLoaded, 0);
  </script>
</body>
</html>
