
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title | asPageTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/index.css">
  {%- if style_src -%}<link rel="stylesheet" href="/assets/styles/page/{{style_src}}.css">{%- endif -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" media="none" onload="if(media!=='all')media='all'">
  <script defer src="https://kit.fontawesome.com/496a6692f9.js" crossorigin="anonymous"></script>
  <script type="module" src="/index.js"></script>
  {% include "fragments/prefetch-links.njk" %}
  {% include "fragments/seo.njk" %}
</head>
<body>
  <header id="top-header">
    <div id="navbar-blur"></div>
    <nav style="margin-right:auto;flex:1" class="container home-link">
      <a href="/">
        Mario Villacreses
      </a>
    </nav>
    <nav id="nav-links">
      <ul class="container">
        <li class="mobile-only">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/now">Now</a>
        </li>
        <li>
          <a href="/notes">Notes</a>
        </li>
        <li>
          <a href="/career">Career</a>
        </li>
        {# {%- assign stuff = site.html_pages | where: "permalink", "/projects" | first -%}
        {%- if stuff and stuff.published != false -%}
        <li>
          <a href="/projects">Projects</a>
        </li>
        {%- endif -%} #}
      </ul>
    </nav>
    <div id="nav-actions" class="container">
      <mv-dark-toggle></mv-dark-toggle>
      <mv-nav-menu-toggle></mv-nav-menu-toggle>
    </div>
  </header>
  <div class="top-bumper"></div>
  {{content | safe}}
  <footer id="page-footer" class="text-xs">
    <div>
      <p>© 2024 Mario Villacreses</p>
      <p>
        Inspired by
        <a rel="noopener" target="_blank" href="https://blowfish.page/">
          Blowfish
        </a>
      </p>
    </div>
    <small aria-hidden="true">
      Still using Netscape? Check out my
      <a href="/90s" tabindex="-1">optimized site</a>.
    </small>
  </footer>
</body>
</html>
