---
layout: layouts/base
---
<main class="{% if not wide %}compact{% endif %}">
  <header class="standard">
    <h1>{{title}}</h1>
    <div class="muted">
      {{heading_description | markdown | safe}}
    </div>
  </header>
  <div style="width:100%">
    {{content | safe}}
  </div>
</main>