@import '../_shared.scss';

@mixin aligned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar {
  @include aligned;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: $nav_width_desktop;
  background-color: $primary_color;

  .profile-circle {
    $max_radius: 10rem;

    width: $max_radius;
    height: $max_radius;
    max-width: $max_radius;
    max-height: $max_radius;
    border: .5rem solid rgba(255,255,255,.2);
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  a {
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 0.5rem;

    color: rgba(255,255,255,.5);

    &:hover {
      color: rgba(255,255,255,.75);
    }
  }

  .nav-main-menu {
    .menu-section {
      @include aligned;

      @media (max-width: $top_nav_width) {
        width: 100vw;
      }
    }

    @media (max-width: $top_nav_width) {
      display: none;

    }
  }

  ul {
    @include aligned;

    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    li {
      margin: 0;
      height: auto;
      display: flex;

      a {
        padding: .1rem .5rem;
      }

      &.active {
        a {
          color: #fff !important;
        }
      }
    }
  }

  @media (max-width: $shorten_nav) {
    width: $nav_width_tablet;
  }

  @media (max-width: $top_nav_width) {
    width: 100vw;
    height: $nav_height;

    .profile-circle {
      display: none;
    }
  }
}
