@import '../_shared.scss';

$color_default: rgba(#fff, 0.75);
$color_active: #fff;

#sidebar {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: $nav_width_desktop;
  background-color: $primary_color;
  
  a {

    padding: 0.5rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    color: $color_default;
    font-weight: 800;
    text-transform: uppercase;

    &.currentPage {
      color: $color_active;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    &.active-section {
      a {
        color: $color_active;
      }
    }

  }
}
