@use 'text';

%heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1 {
  @extend %heading;
  @include text.size(5xl);

  @media (min-width: 40rem) {
    @include text.size(6xl);
  }
}

h2 {
  @extend %heading;
  @include text.size(4xl);

  @media (min-width: 40rem) {
    @include text.size(5xl);
  }
}

h3 {
  @extend %heading;
  @include text.size(3xl);

  @media (min-width: 40rem) {
    @include text.size(4xl);
  }
}

h4 {
  @extend %heading;
  @include text.size(2xl);

  @media (min-width: 40rem) {
    @include text.size(3xl);
  }
}

h5 {
  @extend %heading;
  @include text.size(xl);

  @media (min-width: 40rem) {
    @include text.size(2xl);
  }
}

h6 {
  @extend %heading;
  @include text.size(lg);

  @media (min-width: 40rem) {
    @include text.size(xl);
  }
}

article {
  %article-list {
    padding-left: 1rem;
    margin-left: 0.75rem;
    margin-bottom: 0.75rem;
  }

  ul {
    @extend %article-list;
    list-style-type: disc;
  }

  ol {
    @extend %article-list;
    list-style-type: decimal;
  }
}

.prose li {
  margin-bottom: 0.25rem;
}

em {
  margin-right: 0.125rem;
}

blockquote {
  @include text.size(lg);
  padding: .125rem 0 .125rem .75rem;
  margin: 1rem 0 .75rem 0.5rem;
  border-left: 0.25rem solid rgb(var(--blockquote-border-rgb));
  font-style: italic;

  p:last-child {
    margin-bottom: 0;
  }

  em {
    font-style: normal;
  }
}

hr.footnotes-sep {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.footnotes {
  @include text.size(sm);

  &::before {
    @include text.size(lg);
    content: "Footnotes";
    display: block;
    font-weight: 700;
    letter-spacing: 0.075rem;
    margin-bottom: 0.5rem;
  }
}

a.footnote {
  &::before {
    content: "[";
    margin-right: 0.05rem;
  }

  &::after {
    content: "]";
    margin-left: 0.05rem;
  }
}

[id]:target {
  scroll-margin-top: calc(var(--topnav-height) + 3rem);
}

li[id^="fn"] {
  &:target {
    background: rgba(238, 238, 155, 0.2); /* soft yellow */
    /* border: 1px solid #facc15; */
    transition: background-color 0.8s ease-in-out;
    padding: 0.0625rem 0.125rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}
