@use 'breakpoint';

main {
  ul {
    list-style: none;
    margin: auto;

    @include breakpoint.up(2xs) {
      padding: 0 1rem;
    }

    @include breakpoint.up(md) {
      padding: 0 2rem;
    }
  }

  li {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;

    time {
      font-size: 0.875rem;
      white-space: nowrap;
      align-self: self-start;
      margin-top: .125rem;
    }

    a {
      font-weight: 600;
      letter-spacing: 0.075rem;
    }

    @include breakpoint.up(sm) {
      grid-template-columns: auto 1fr;
      margin-bottom: 1rem;
    }
  }
}
