@import url('../prism.css');
@import url('../markdown.css');
@import url('../callout.css');

.top-bumper {
  min-height: 118px;
}

main {
  align-self: stretch;
  display: flex;
}

#main-content {
  margin-left: 0.75rem;
  max-width: 80ch;
}

article > header {
  margin-bottom: 2rem;
}

.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  color: rgb(var(--post-color-rgb));
  margin-left: 0.5rem;
}

.metadata dd:not(:last-child)::after {
  content: '•';
  margin: 0 0.5em;
}

:not(pre)>code[class*=language-] {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.back-to-collection {
  margin-bottom: 1rem;
}

@keyframes arrow-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

.back-to-collection a:hover i {
  animation: arrow-left 1s ease-in-out;
}

#main-content dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

#main-content dl dt {
  font-weight: 600;
}

div[class*="language-"] {
  max-width: 70ch;
  margin: 0 auto;
}
