@use 'text';
@use 'layout';

.project-links {
  @include text.size(lg);

  li {
    margin-right: 0.5rem;
  }
}

.project-grid.timeline-track {
  --list-gap: 2.5em;
  --circumference: 1.35rem;
  max-width: 60ch;
  
  &>li::after {
    --border-radius: 6px;
    --bullet-offset: 4px;
  }
}

.project {
  header {
    position: relative;
    margin-bottom: 0.75rem;

    svg {
      width: var(--circumference);
      height: var(--circumference);
      margin-right: 0.5rem;
      color: inherit;

      position: absolute;
      left: -1.93rem;
      top: 4px;
    }
  }
  .title {
    @include text.size(xl);
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
  
  figure{
    img {
      height: 200px;
      width: auto;
      // float: right;
    }
  }
  .prose {
    @include text.size(sm);
    margin-bottom: 0.75rem;
  }

  footer {
    margin-top: 0.75rem;
    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    span {
      @include text.size(sm);
      font-weight: 600;
    }
  }
}
