@mixin column-break {
  @media (min-width: 48rem) {
    @content;
  }
}

.date {
  --width: 4rem;
  min-width: var(--width);
  font-size: var(--text-xs-font-size);
  line-height: var(--text-xs-line-height);
  white-space: nowrap;
  margin-top: 0.5rem;
  
  @media (min-width: 48rem) {
    --width: 6rem;
  }
  @media (min-width: 48rem) {
    --width: 7.5rem;
  }
  @media (min-width: 64rem) {
    --width: 8rem;
  }
}

thead { 
  --backdrop-filter: blur(8px);
  position: sticky;
  top: var(--topnav-height);
  z-index: 10;
  background-color: rgba(var(--project-thead-rgb), 0.25);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
}

tr td .date {
  color: rgb(var(--color-slate-400));
}
%hide-last-col {
  &:last-child {
    display: none;
    @include column-break {
      display: inherit;
    }
  }
}

th {
  @extend %hide-last-col;
}

td {
  @extend %hide-last-col;
  
  &.details {
    line-height: 1.375;
    width: 100%;
    
    .title {
      font-weight: 600;
    }
    
    .description {
      font-weight: 300;
      font-size: var(--text-xs-font-size);
      line-height: var(--text-xs-line-height);
      font-style: italic;
      color: rgb(var(--color-slate-500))
    }
  }
}

.details .project-links {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-bottom: 0.125rem;
  @include column-break {
    display: none;
  }
  
  a {
    font-size: var(--text-xs-font-size);
    line-height: var(--text-xs-line-height);
    letter-spacing: .01rem;
    font-weight: 500;
  }
}


td.links {
  --width: 4rem;
  width: var(--width);
  min-width: var(--width);
  
  @media (min-width: 40rem) {
    --width: 6rem;
  }
  
  @media (min-width: 64rem) {
    --width: 8rem;
  }
  
  ul {
    font-size: var(--text-lg-font-size);
    line-height: var(--text-lg-line-height);
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-top: 1rem;
  }
  
  .table-small {
    display: none;
  }
}
